/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../../var/lib/gems/1.9.1/gems/compass-0.12.6/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*****/
/* line 11, ../sass/screen.scss */
.fixed {
  position: fixed;
}

/* line 15, ../sass/screen.scss */
.absolute {
  position: absolute;
}

/* line 19, ../sass/screen.scss */
ul, ol, .zero {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

/* line 25, ../sass/screen.scss */
.full {
  width: 100%;
}

/* line 29, ../sass/screen.scss */
.fixed.full, .absolute.full {
  width: 480px;
}

/* line 33, ../sass/screen.scss */
.top {
  top: 0;
}

/* line 37, ../sass/screen.scss */
.bottom {
  bottom: 0;
}

/* line 41, ../sass/screen.scss */
.fleft {
  float: left;
}

/* line 45, ../sass/screen.scss */
.fright {
  float: right;
}

/* line 49, ../sass/screen.scss */
.overlay {
  background: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  -o-opacity: 0.6;
  opacity: 0.6;
}

/*****/
/* line 64, ../sass/screen.scss */
body, html {
  height: 100%;
}

/* line 68, ../sass/screen.scss */
body {
  margin: 0;
  padding: 0;
  font: 16px Helvetica, sans-serif;
  color: #51b4e3;
  background: black url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJ0lEQVQIW2M0Njb+f+/ePQYYYBQUFPyvpKTEABMEC4BkYYJwAZggADGyDjN7QaaVAAAAAElFTkSuQmCC);
}

/* line 76, ../sass/screen.scss */
::-webkit-input-placeholder {
  color: white;
}

:-moz-placeholder {
  color: white;
}

::-moz-placeholder {
  color: white;
}

/* line 80, ../sass/screen.scss */
a {
  text-decoration: none;
  color: #000000;
}

/* line 85, ../sass/screen.scss */
#scroller {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 93, ../sass/screen.scss */
.row {
  position: relative;
  margin: auto;
  width: 480px;
}

/* line 99, ../sass/screen.scss */
.content {
  z-index: 1;
  position: fixed;
  background: #eeeeee;
  top: 50px;
  bottom: 50px;
  width: 480px;
}
/* line 106, ../sass/screen.scss */
.content.no-bottombar {
  bottom: 0;
}

/* line 111, ../sass/screen.scss */
.topbar {
  z-index: 2;
  height: 50px;
  background: #51b4e3;
  -webkit-box-shadow: 0 2px 10px #888888;
  -moz-box-shadow: 0 2px 10px #888888;
  -o-box-shadow: 0 2px 10px #888888;
  box-shadow: 0 2px 10px #888888;
}

/* line 121, ../sass/screen.scss */
.bottombar {
  z-index: 2;
  height: 50px;
  background: #555555;
}

/* line 127, ../sass/screen.scss */
.title {
  font-size: 14px;
  color: #51b4e3;
  border-bottom: 2px solid #51b4e3;
  height: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

/*****/
/* line 138, ../sass/screen.scss */
.lists {
  float: left;
  width: 440px;
  padding: 10px 20px 10px 20px;
}
/* line 142, ../sass/screen.scss */
.lists.full {
  width: 480px;
  padding: 0;
}

/* line 148, ../sass/screen.scss */
.list {
  float: left;
  width: 100%;
  position: relative;
}

/* line 154, ../sass/screen.scss */
.list-item {
  float: left;
  width: 100%;
  position: relative;
}
/* line 158, ../sass/screen.scss */
.list-item .item {
  float: left;
  width: 100%;
  position: relative;
  display: block;
  line-height: 20px;
  padding: 10px 0;
  border-top: 1px solid #dddddd;
}

/* line 171, ../sass/screen.scss */
.list.single-fill .list-item .item {
  position: relative;
  padding: 0;
  height: 60px;
  line-height: 60px;
}
/* line 177, ../sass/screen.scss */
.list.single-fill .list-item.half {
  width: 50%;
  overflow: hidden;
}
/* line 180, ../sass/screen.scss */
.list.single-fill .list-item.half .item {
  overflow: hidden;
  height: 180px;
  border-top: none;
}
/* line 184, ../sass/screen.scss */
.list.single-fill .list-item.half .item.profile-image {
  left: 0;
  top: 0;
}
/* line 187, ../sass/screen.scss */
.list.single-fill .list-item.half .item.profile-image img {
  margin-top: -15%;
}
/* line 194, ../sass/screen.scss */
.list.single-fill .caption {
  height: 40px;
  width: 100%;
}

/* line 200, ../sass/screen.scss */
.caption .text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 40px;
  padding: 0 20px;
  width: 100%;
  color: #fff;
  z-index: 2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 218, ../sass/screen.scss */
.list-item:first-child .item {
  color: #000000;
  border-top: none;
}
/* line 223, ../sass/screen.scss */
.list-item span.fleft {
  width: 380px;
}
/* line 226, ../sass/screen.scss */
.list-item span.fright {
  width: 60px;
  height: 60px;
  overflow: hidden;
}
/* line 230, ../sass/screen.scss */
.list-item span.fright img {
  float: right;
}
/* line 235, ../sass/screen.scss */
.list-item .item .label {
  display: block;
  text-transform: uppercase;
  font-size: 14px;
  color: #666;
}

/*****/
/* line 246, ../sass/screen.scss */
.tabs > li {
  float: left;
  width: 50%;
  height: 45px;
}
/* line 247, ../sass/screen.scss */
.tabs > li > a {
  float: left;
}
/* line 254, ../sass/screen.scss */
.tabs.three > li {
  width: 33.33%;
}
/* line 258, ../sass/screen.scss */
.tabs > li:hover, .tabs > li.active {
  border-bottom: 5px solid #ffffff;
}
/* line 261, ../sass/screen.scss */
.tabs > li > a {
  width: 100%;
  height: 30px;
  line-height: 30px;
  margin-top: 10px;
  text-align: center;
  border-right: 1px solid #a6d6ea;
}
/* line 269, ../sass/screen.scss */
.tabs > li:last-child > a {
  border-right: none;
}

/*****/
/* line 277, ../sass/screen.scss */
.icon > a {
  color: #ffffff;
  font-size: 20px;
}

/* line 282, ../sass/screen.scss */
.bar .icn {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  position: absolute;
  z-index: 2;
}
/* line 288, ../sass/screen.scss */
.bar .icn > a {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
}
/* line 297, ../sass/screen.scss */
.bar .icn.left {
  left: 0;
}
/* line 300, ../sass/screen.scss */
.bar .icn.right {
  right: 0;
}
/* line 302, ../sass/screen.scss */
.bar .icn.right.sec {
  right: 60px;
}
/* line 306, ../sass/screen.scss */
.bar .icn.center {
  left: 50%;
  margin-left: -25px;
}
/* line 310, ../sass/screen.scss */
.bar .icn.full {
  z-index: 1;
  float: left;
  padding-left: 60px;
  width: auto;
}
/* line 315, ../sass/screen.scss */
.bar .icn.full.centred {
  padding-left: 0;
  float: none;
  width: 100%;
}
/* line 321, ../sass/screen.scss */
.bar .icn.action {
  width: auto;
  font-size: 16px;
}
/* line 324, ../sass/screen.scss */
.bar .icn.action a {
  width: auto;
  font-size: 16px;
  padding: 0 10px;
}
/* line 327, ../sass/screen.scss */
.bar .icn.action a span {
  font-size: 22px;
  padding-right: 10px;
}

/* line 336, ../sass/screen.scss */
.contact-name {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}

/*****/
/* line 344, ../sass/screen.scss */
.submenu {
  display: none;
  position: absolute;
  text-align: left;
  min-width: 200px;
  background: #eeeeee;
  right: 10px;
  -webkit-box-shadow: 0 2px 5px #999999;
  -moz-box-shadow: 0 2px 5px #999999;
  -o-box-shadow: 0 2px 5px #999999;
  box-shadow: 0 2px 5px #999999;
}

/* line 357, ../sass/screen.scss */
.show-submenu .submenu {
  display: block;
}

/* line 361, ../sass/screen.scss */
.submenu li {
  border-bottom: 1px solid #cccccc;
}
/* line 362, ../sass/screen.scss */
.submenu li a {
  height: 40px;
  line-height: 40px;
  padding: 0 20px;
  display: block;
  text-transform: capitalize;
}
/* line 370, ../sass/screen.scss */
.submenu li:last-child a {
  border-bottom: none;
}

/*****/
/* line 377, ../sass/screen.scss */
.profile-image {
  position: relative;
  overflow: hidden;
  height: 180px;
  width: 480px;
  left: -20px;
  top: -10px;
}
/* line 384, ../sass/screen.scss */
.profile-image img {
  position: absolute;
  margin-top: -40%;
  width: 100%;
}
/* line 389, ../sass/screen.scss */
.profile-image.open {
  height: auto;
}
/* line 391, ../sass/screen.scss */
.profile-image.open img {
  position: static;
  margin-top: 0;
}

/******/
/* line 401, ../sass/screen.scss */
.form .title {
  padding-left: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 408, ../sass/screen.scss */
.form .list-item:last-child {
  margin-bottom: 20px;
}
/* line 411, ../sass/screen.scss */
.form .form-item {
  position: relative;
  height: auto;
  min-height: auto;
  border-top: none;
  width: 100%;
  padding: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
/* line 424, ../sass/screen.scss */
.form .list-item button {
  border: none;
  background: none;
  margin: 0;
  text-transform: uppercase;
  font-size: 14px;
  color: #666;
}
/* line 432, ../sass/screen.scss */
.form .list-item.action button {
  padding: 5px 10px 0;
  margin: 10px 0 0;
}
/* line 438, ../sass/screen.scss */
.form .form-item.action {
  text-align: center;
}
/* line 440, ../sass/screen.scss */
.form .form-item.action button {
  font-size: 26px;
}
/* line 444, ../sass/screen.scss */
.form .form-item input, .form .form-item textarea {
  width: 100%;
  border: none;
  background: none;
  margin: 0;
  padding: 7px 0 3px;
}
/* line 451, ../sass/screen.scss */
.form .form-item .form-item-decorator {
  width: 99%;
  height: 5px;
  position: absolute;
  left: 0;
  bottom: 0;
  border-bottom: 1px solid #dddddd;
  border-left: 1px solid #dddddd;
  border-right: 1px solid #dddddd;
}
/* line 461, ../sass/screen.scss */
.form .form-item input:focus, .form .form-item textarea:focus {
  outline: none;
}

/* line 468, ../sass/screen.scss */
form .form-item input:focus + .form-item-decorator, form .form-item textarea:focus + .form-item-decorator {
  border-color: #51b4e3;
}
/* line 471, ../sass/screen.scss */
form .form-item input.ng-invalid + .form-item-decorator {
  border-color: red;
}

/* line 477, ../sass/screen.scss */
.form .form-item.field-left {
  width: 62%;
}
/* line 480, ../sass/screen.scss */
.form .form-item.field-right {
  width: 23%;
}
/* line 483, ../sass/screen.scss */
.form .form-item.field-right-right {
  width: 15%;
  padding: 10px 0;
}
/* line 487, ../sass/screen.scss */
.form .form-item.field-left.img {
  width: 70%;
}
/* line 491, ../sass/screen.scss */
.form .form-item.field-right.img {
  width: 30%;
  padding: 10px 0;
}
/* line 495, ../sass/screen.scss */
.form .form-item.field-right img {
  float: right;
  padding: 0 20px;
}

/* line 502, ../sass/screen.scss */
.bar .icn.full.contact-name {
  text-align: left;
  max-width: 50%;
  overflow: hidden;
}
/* line 506, ../sass/screen.scss */
.bar .icn.full.contact-name.form {
  width: 460px;
  max-width: 460px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 516, ../sass/screen.scss */
.contact-name.form .form-item {
  height: 40px;
  padding-top: 0;
}
/* line 519, ../sass/screen.scss */
.contact-name.form .form-item .cancel {
  position: absolute;
  right: 10px;
  top: 0;
}

/*********************/
@media only screen and (max-device-width: 480px) {
  /* line 529, ../sass/screen.scss */
  .fixed.full, .absolute.full, .row, .content, .lists.full {
    width: 100%;
  }

  /* line 532, ../sass/screen.scss */
  .profile-image {
    width: 108%;
  }

  /* line 535, ../sass/screen.scss */
  .lists {
    padding: 2% 4% 2% 4%;
    width: 92%;
    width: 92%;
  }

  /* line 541, ../sass/screen.scss */
  .list-item span.fleft {
    width: 80%;
  }
  /* line 544, ../sass/screen.scss */
  .list-item span.fright {
    width: 20%;
  }

  /* line 548, ../sass/screen.scss */
  .submenu {
    right: 20%;
  }

  /* line 551, ../sass/screen.scss */
  .profile-image {
    left: -4%;
    margin-top: -2%;
  }

  /* line 555, ../sass/screen.scss */
  .form .form-item.field-right img {
    padding: 0 2%;
  }

  /* line 558, ../sass/screen.scss */
  .list.single-fill .list-item.half .item.profile-image img {
    margin-top: -5%;
    margin-top: -5%;
  }

  /* line 562, ../sass/screen.scss */
  .bar .icn.full.contact-name.form {
    width: 96%;
  }

  /* line 565, ../sass/screen.scss */
  .contact-name.form .form-item .cancel {
    right: 2%;
  }
}
