<ul class="fixed top full bar topbar tabs two">
  <li class="icon active">
    <a href='#/contacts'><span class="entypo-user"></span></a>
  </li>
  <li class="icon">
    <a href='#/contacts/starred'><span class="entypo-star"></span></a>
  </li>
</ul>
<div class="content" id="wrapper">
  <div class="lists" id="scroller">
    <div ng:repeat="group in groups">
      <div class="title fleft full">{{ group.label }}</div>
      <ul class="list single-fill">
        <li class="list-item" ng:repeat="contact in group.contacts">
          <a class="item" href='#/contact/view/{{ contact._id.$oid }}'>
            <span class="fleft name">{{ contact.firstName + ' ' + contact.lastName }}</span>
            <span class="fright image"><img width="60" ng-src="{{ ProfileImage('60x60', contact) }}"/></span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
<ul class="fixed bottom full bar bottombar">
  <li class="icon icn left">
    <a href='#/contacts/search'><span class="entypo-search"></span></a>
  </li>
  <li class="icon icn center">
    <a href='#/contact/add'><span class="entypo-user-add"></span></a>
  </li>
</ul>
