/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

//colors
/*****/

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

ul, ol, .zero {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.full {
  width: 100%;
}

.fixed.full, .absolute.full {
  width: 480px;
}

.top {
  top: 0;
}

.bottom {
  bottom: 0;
}

.fleft {
  float: left;
}

.fright {
  float: right;
}

.overlay {
  background: #000;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-opacity: 0.6;
  -moz-opacity: 0.6;
  -o-opacity: 0.6;
  opacity: 0.6;
}

/*****/

body, html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font: 16px Helvetica, sans-serif;
  color: #51b4e3;
  background: black url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAJ0lEQVQIW2M0Njb+f+/ePQYYYBQUFPyvpKTEABMEC4BkYYJwAZggADGyDjN7QaaVAAAAAElFTkSuQmCC);
}

::-webkit-input-placeholder, :-moz-placeholder, ::-moz-placeholder {
  color: red;
}

a {
  text-decoration: none;
  color: #000000;
}

#scroller {
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.row {
  position: relative;
  margin: auto;
  width: 480px;
}

.content {
  z-index: 1;
  position: fixed;
  background: #eeeeee;
  top: 50px;
  bottom: 50px;
  width: 480px;
  &.no-bottombar {
    bottom: 0;
  }
}

.topbar {
  z-index: 2;
  height: 50px;
  background: #51b4e3;
  -webkit-box-shadow: 0 2px 10px #888888;
  -moz-box-shadow: 0 2px 10px #888888;
  -o-box-shadow: 0 2px 10px #888888;
  box-shadow: 0 2px 10px #888888;
}

.bottombar {
  z-index: 2;
  height: 50px;
  background: #555555;
}

.title {
  font-size: 14px;
  color: #51b4e3;
  border-bottom: 2px solid #51b4e3;
  height: 30px;
  line-height: 30px;
  text-transform: uppercase;
}

/*****/

.lists {
  float: left;
  width: 440px;
  padding: 10px 20px 10px 20px;
  &.full {
    width: 480px;
    padding: 0;
  }
}

.list {
  float: left;
  width: 100%;
  position: relative;
}

.list-item {
  float: left;
  width: 100%;
  position: relative;
  .item {
    float: left;
    width: 100%;
    position: relative;
    display: block;
    line-height: 20px;
    padding: 10px 0;
    border-top: 1px solid #dddddd;
  }
}

.list.single-fill {
  .list-item {
    .item {
      position: relative;
      padding: 0;
      height: 60px;
      line-height: 60px;
    }
    &.half {
      width: 50%;
      overflow: hidden;
      .item {
        overflow: hidden;
        height: 180px;
        border-top: none;
        &.profile-image {
          left: 0;
          top: 0;
          img {
            margin-top: -15%;
          }
        }
      }
    }
  }
  .caption {
    height: 40px;
    width: 100%;
  }
}

.caption .text {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  line-height: 40px;
  padding: 0 20px;
  width: 100%;
  color: #fff;
  z-index: 2;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}

.list-item {
  &:first-child .item {
    color: #000000;
    border-top: none;
  }
  span {
    &.fleft {
      width: 380px;
    }
    &.fright {
      width: 60px;
      height: 60px;
      overflow: hidden;
      img {
        float: right;
      }
    }
  }
  .item .label {
    display: block;
    text-transform: uppercase;
    font-size: 14px;
    color: #666;
  }
}

/*****/

.tabs {
  > li {
    > a {
      float: left;
    }
    float: left;
    width: 50%;
    height: 45px;
  }
  &.three > li {
    width: 33.33%;
  }
  > li {
    &:hover, &.active {
      border-bottom: 5px solid #ffffff;
    }
    > a {
      width: 100%;
      height: 30px;
      line-height: 30px;
      margin-top: 10px;
      text-align: center;
      border-right: 1px solid #a6d6ea;
    }
    &:last-child > a {
      border-right: none;
    }
  }
}

/*****/

.icon > a {
  color: #ffffff;
  font-size: 20px;
}

.bar .icn {
  display: block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  > a {
    display: block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    text-align: center;
  }
  position: absolute;
  z-index: 2;
  &.left {
    left: 0;
  }
  &.right {
    right: 0;
    &.sec {
      right: 60px;
    }
  }
  &.center {
    left: 50%;
    margin-left: -25px;
  }
  &.full {
    z-index: 1;
    float: left;
    padding-left: 60px;
    width: auto;
    &.centred {
      padding-left: 0;
      float: none;
      width: 100%;
    }
  }
  &.action {
    width: auto;
    font-size: 16px;
    a {
      width: auto;
      font-size: 16px;
      span {
        font-size: 22px;
        padding-right: 10px;
      }
      padding: 0 10px;
    }
  }
}

.contact-name {
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
}

/*****/

.submenu {
  display: none;
  position: absolute;
  text-align: left;
  min-width: 200px;
  background: #eeeeee;
  right: 10px;
  -webkit-box-shadow: 0 2px 5px #999999;
  -moz-box-shadow: 0 2px 5px #999999;
  -o-box-shadow: 0 2px 5px #999999;
  box-shadow: 0 2px 5px #999999;
}

.show-submenu .submenu {
  display: block;
}

.submenu li {
  a {
    height: 40px;
    line-height: 40px;
    padding: 0 20px;
    display: block;
    text-transform: capitalize;
  }
  border-bottom: 1px solid #cccccc;
  &:last-child a {
    border-bottom: none;
  }
}

/*****/

.profile-image {
  position: relative;
  overflow: hidden;
  height: 180px;
  width: 480px;
  left: -20px;
  top: -10px;
  img {
    position: absolute;
    margin-top: -40%;
    width: 100%;
  }
  &.open {
    height: auto;
    img {
      position: static;
      margin-top: 0;
    }
  }
}

/******/

.form {
  .title {
    padding-left: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }
  .list-item:last-child {
    margin-bottom: 20px;
  }
  .form-item {
    position: relative;
    height: auto;
    min-height: auto;
    border-top: none;
    width: 100%;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }
  .list-item {
    button {
      border: none;
      background: none;
      margin: 0;
      text-transform: uppercase;
      font-size: 14px;
      color: #666;
    }
    &.action button {
      padding: 5px 10px 0;
      margin: 10px 0 0;
    }
  }
  .form-item {
    &.action {
      text-align: center;
      button {
        font-size: 26px;
      }
    }
    input, textarea {
      width: 100%;
      border: none;
      background: none;
      margin: 0;
      padding: 7px 0 3px;
    }
    .form-item-decorator {
      width: 99%;
      height: 5px;
      position: absolute;
      left: 0;
      bottom: 0;
      border-bottom: 1px solid #dddddd;
      border-left: 1px solid #dddddd;
      border-right: 1px solid #dddddd;
    }
    input:focus, textarea:focus {
      outline: none;
    }
  }
}

form .form-item {
  input:focus + .form-item-decorator, textarea:focus + .form-item-decorator {
    border-color: #51b4e3;
  }
  input.ng-invalid + .form-item-decorator {
    border-color: red;
  }
}

.form .form-item {
  &.field-left {
    width: 62%;
  }
  &.field-right {
    width: 23%;
  }
  &.field-right-right {
    width: 15%;
    padding: 10px 0;
  }
  &.field-left.img {
    width: 70%;
  }
  &.field-right {
    &.img {
      width: 30%;
      padding: 10px 0;
    }
    img {
      float: right;
      padding: 0 20px;
    }
  }
}

.bar .icn.full.contact-name {
  text-align: left;
  max-width: 50%;
  overflow: hidden;
  &.form {
    width: 460px;
    max-width: 460px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
  }
}

.contact-name.form .form-item {
  height: 40px;
  padding-top: 0;
  .cancel {
    position: absolute;
    right: 10px;
    top: 0;
  }

}

/*********************/
@media only screen and (max-device-width: 480px) {
  .fixed.full, .absolute.full, .row, .content, .lists.full {
    width: 100%;
  }
  .profile-image {
    width: 108%;
  }
  .lists {
    padding: 2% 4% 2% 4%;
    width: 92%;
    width: 92%;
  }
  .list-item span {
    &.fleft {
      width: 80%;
    }
    &.fright {
      width: 20%;
    }
  }
  .submenu {
    right: 20%;
  }
  .profile-image {
    left: -4%;
    margin-top: -2%;
  }
  .form .form-item.field-right img {
    padding: 0 2%;
  }
  .list.single-fill .list-item.half .item.profile-image img {
    margin-top: -5%;
    margin-top: -5%;
  }
  .bar .icn.full.contact-name.form {
    width: 96%;
  }
  .contact-name.form .form-item .cancel {
    right: 2%;
  }
}
